
* {
  box-sizing: border-box;
}
.sans-serif{font-family: sans-serif;}
.courier{font-family: courier}
.georgia{font-family: georgia}
.cursive{font-family: cursive;}
.fantasy{font-family: fantasy;}
.blue{color: blue;}
.green{color: green;}
.red{color: red;}
.list:hover{color:red}
a.linkbutton:link, a.linkbutton:visited {
    background-color: lightcoral;
    color:whitesmoke;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
}
a.linkbutton:hover, a.linkbutton:active {
    background-color: yellow;
    color: black;
    padding: 20px 25px;
    text-shadow: 2px 2px 4px black;
}
table {
  width: 100%;
  outline: 7px solid lightgreen; 
  outline-offset: 2px;
  border:1px solid black;
  background-color: pink;
}
td {
  border:1px solid black;
  padding: 5px 15px 5px;
}
tr:nth-child(even) {
background-color: rgba(116, 116, 116, 0.808);
}
tr:hover {
  background-color: yellow;
}
th {
    border: 2px solid crimson;
    background-color: rgb(255, 72, 0);
  }
caption {
    border: 3px solid rgba(128, 128, 128, 0.623);
    background-color: rgba(212, 212, 0, 0.87);
  }
.leftlist{
  width: 50%;
  float: left;
}
.rightlist{
  width: 45%;
  float: right;
}
a.cool{
  color: blue;
  background-color: brown;
  padding: 15px 20px;
  font-size: larger;
  text-decoration: none;
}
a.cool:hover{
  color: brown;
  background-color: blue;
  padding: 19px 20px;
}
button.time{
  background-color: chartreuse;
  font-size: larger;
  height: max-content;
  width: max-content;
}
button.time:hover{
  background-color: crimson;
}
button.cool {
  background-color: darkblue;
  color: lightsalmon;
  font-size: 20px;
  font-family: monospace;
  padding: 10px 15px;
  border: none;
}
button.cool:hover {
  background-color: maroon;
}
header {
  background-color: mediumblue;
  color: azure;
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-family: fantasy;
}
nav {
  background-color: rgb(181, 181, 247);
  color: rgba(240, 255, 255, 0.068);
  text-align: left;
  padding: 10px;
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: left;
  width: 30%;
  height: 200px;
}
button.other {
  background-color: transparent;
  border: transparent;
}
button:hover {
  color: white;
}
article {
  background-color: white;
  color: black;
  float: left;
  width: 70%;
  padding: 10px;
  height: 200px;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: mediumblue;
  color: azure;
  text-align: center;
  padding: 20px;
  font-size: 9px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
body {
  background-image: url(../Pictures/Superheroes.gif);
  background-repeat: no-repeat;
  background-position: 96% 4%;
  background-attachment: fixed;
  background-size: 17%;
}

.box {
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 15px solid red ;
  float: left;
}
#btext {
  margin: 2px;
  padding: 2px;
  width: fit-content;
  background-color: turquoise;
  border-left: 4px solid red;
}
#rtext {
  padding: 2px;
  margin: 2px;
  width: fit-content;
  background-color: yellow;
  border: 2px solid red;
  border-radius: 7px;
}
#sp {
  width: 20%;
  border: 2px solid black;
  text-align: justify;
  padding: 7px;
  font-family: "Saira Stencil One";
}
#dropDown {
  background-color: teal;
  color: mediumspringgreen;
  margin-top: 1px;
  width: 400px;
  display: none;
  text-align: justify;
  padding: 10px 35px 10px;
}
#sometext, #car {
  background-color: rgba(116, 116, 116, 0.808);
  color: white;
  border: none;
}
#sometext:hover, #car:hover {
  background-color: white;
  color: black;
}